@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        It is critically important that every organization have a brand marketing strategy at its core. Only limited success in generating cash inflow is possible when a company relies on sales and advertising alone. But when a well-developed brand marketing strategy is implemented, the potential for success can be limitless.</p>
    <p>
        There is more to brand marketing strategy than gaining maximum exposure. There must be a strategy in place considering such things as timing, current trends, opportunities, brand penetration and brand recognition.
    </p>
    <p>
        We go beyond the basics and provide our clients with innovative ideas, such as how to challenge the competition unconventionally, create more room to penetrate the target audience, or create a new category thereby setting a trend for others to follow in the long run. We will consider all the strategic factors that influence your goals, your product, and your target market to recommend the best strategy for your success and advise you concerning how to get ahead of your competition.

    </p>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>