@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>502.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>502.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@whitemarketing.com">Support@whitemarketing.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@whitemarketing.com">Marketing@whitemarketing.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@whitemarketing.com">General@whitemarketing.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1109 S First St
        Louisville, Ky 40203
    </p>
</section>