@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>New Marketing techniques for a New Age</h2>
                <p>
                We provide consulting for boutique Start Ups in the App Development ecosystem.
                We are a one-stop, full-service marketing and design authority.
                We maximize revenue for those small business owners unable to afford an in-house marketing department.  
                </p>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<div id ="none" style="padding-bottom:100px">
        <h5>Our Guarantee</h5>
         We enable you to reach your target customers, and help you
         reach your goals with your unique brand and message. In any media format,
         we offer the highest return on your marketing investment.
</div>