@{
    ViewBag.Title = "Management";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<article>
    <p>
        <h3>Rachel White, Founder</h3></br>
        <img src="../Images/rachel.png"/></img></br></br>
        Rachel has lead the direction of the company since its early days.
        Previously, she has worked at Claritics, a Silicon Valley gaming analytics startup.
        She attained a BA from the University of Louisville, Kentucky.
    </p>
</article>